.restaurant-card {
    display: flex;
    flex-direction: column;
}

.restaurant-card__image-wrapper {
    margin-bottom: 20px;
}

.restaurant-card__image {
    width: 100%;
    min-height: 233px;
    max-height: 235px;
    border-radius: 10px;
}

.restaurant-card__title {
    margin-bottom: 5px;
}

.restaurant-card__description-wrapper {
    margin-bottom: 25px;
}